<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<iframe type="audio/mp3" allow="autoplay" style="display: none"
  src="../assets/windows-xp-theme-song-128-ytshorts.savetube.me.mp3">
</iframe>
<body>
    <div #boxTopper class="window" style="width: 300px">
        <audio autoplay>
            <source src="../../../public/windows-xp-theme-song-128-ytshorts.savetube.me.mp3" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
        <div #titleBar class="title-bar" (mousedown)="startDrag($event)">
          <div class="title-bar-text">Search For Food</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
          </div>
        </div>
        <div class="window-body">
            <form [formGroup] = "form" (ngSubmit) = "storeNutritionData()">
                <div>
                    <label for = "mealType">Select the Meal You Had.</label>
                    <select for = "mealType" formControlName = "mealType">
                        <option value = "breakfast">Breakfast</option>
                        <option value = "lunch">Lunch</option>
                        <option value = "dinner">Dinner</option>
                        <option value = "snack">Snacks</option>
                    </select>
                </div>
                <div>
                    <label for = "foodItem">Search Food: </label>
                    <input id = "foodItem" formControlName = "foodItem" type = "text" placeholder="Enter Food Item" (input) = "searchFood()" />
                </div>
                <div>
                    <label for = "calories">Calories </label>
                    <input id = "calories" formControlName = "calories" type = "number" placeholder="Calories"/>
                </div>
                <div>
                    <label for = "proteins">Proteins </label>
                    <input id = "proteins" formControlName = "proteins" type = "number" placeholder="Proteins"/>
                </div>
                <div>
                    <label for = "fats">Fats </label>
                    <input id = "fats" formControlName = "fats" type = "number" placeholder="Fats"/>
                </div>
                <div>
                    <label for = "carbs">Carbs </label>
                    <input id = "carbs" formControlName = "carbs" type = "number" placeholder="Carbs"/>
                </div>
                <div>
                    <label for = "fiber">Fiber </label>
                    <input id = "fiber" formControlName = "fiber" type = "number" placeholder="Fiber"/>
                </div>
                <div>
                    <label for = "sugars">Sugars </label>
                    <input id = "sugars" formControlName = "sugars" type = "number" placeholder="Sugars"/>
                </div>
                <button type = "submit">Add Meal</button>
            </form>
        </div>
    </div>
    <div class="window" style="width: 300px">
        <div class="title-bar">
          <div class="title-bar-text">Your Meals!</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
          </div>
        </div>
        <div class="window-body">
            <menu role = "tablist">
                <button (click) = "switchTab('breakfast')" [attr.aria-selected] = "selectedTab === 'breakfast'" aria-controls="breakfast">Breakfast</button>
                <button (click) = "switchTab('lunch')" [attr.aria-selected] = "selectedTab === 'lunch'" aria-controls="lunch">Lunch</button>
                <button (click) = "switchTab('dinner')" [attr.aria-selected] = "selectedTab === 'dinner'" aria-controls="dinner">Dinner</button>
                <button (click) = "switchTab('snack')" [attr.aria-selected] = "selectedTab === 'snack'" aria-controls="snack">Snacks</button>
            </menu>
            <article role = "tabpanel" id = "breakfast" *ngIf = "selectedTab === 'breakfast'">
                <div *ngIf = "meals.breakfast.length > 0">
                    <p>Breakfast: </p>
                    <ul>
                        <li *ngFor = "let meal of meals.breakfast">
                            <strong>{{meal.foodItem}}</strong>:
                            {{meal.calories}} kcal,
                            {{meal.proteins}} g protein,
                            {{meal.fats}} g fat,
                            {{meal.carbs}} g carbs,
                            {{meal.fiber}} g fiber,
                            {{meal.sugars}} g sugar
                        </li>
                    </ul>
                </div>
            </article>
            <article role = "tabpanel" id = "lunch" *ngIf = "selectedTab === 'lunch'">
                <div *ngIf = "meals.lunch.length > 0">
                    <p>Lunch: </p>
                    <ul>
                        <li *ngFor = "let meal of meals.lunch">
                            <strong>{{meal.foodItem}}</strong>:
                            {{meal.calories}} kcal,
                            {{meal.proteins}} g protein,
                            {{meal.fats}} g fat,
                            {{meal.carbs}} g carbs,
                            {{meal.fiber}} g fiber,
                            {{meal.sugars}} g sugar
                        </li>
                    </ul>
                </div>
            </article>
            <article role = "tabpanel" id = "dinner" *ngIf = "selectedTab === 'dinner'">
                <div *ngIf = "meals.dinner.length > 0">
                    <p>Dinner: </p>
                    <ul>
                        <li *ngFor = "let meal of meals.dinner">
                            <strong>{{meal.foodItem}}</strong>:
                            {{meal.calories}} kcal,
                            {{meal.proteins}} g protein,
                            {{meal.fats}} g fat,
                            {{meal.carbs}} g carbs,
                            {{meal.fiber}} g fiber,
                            {{meal.sugars}} g sugar
                        </li>
                    </ul>
                </div>
            </article>
            <article role = "tabpanel" id = "snack" *ngIf = "selectedTab === 'snack'">
                <div *ngIf = "meals.snack.length > 0">
                    <p>Snack: </p>
                    <ul>
                        <li *ngFor = "let meal of meals.snack">
                            <strong>{{meal.foodItem}}</strong>:
                            {{meal.calories}} kcal,
                            {{meal.proteins}} g protein,
                            {{meal.fats}} g fat,
                            {{meal.carbs}} g carbs,
                            {{meal.fiber}} g fiber,
                            {{meal.sugars}} g sugar
                        </li>
                    </ul>
                </div>
            </article>

            <div *ngIf = "meals.breakfast.length || meals.lunch.length || meals.dinner.length || meals.snack.length">
                <p>Total Nutrition For The Day</p>
                <p><strong>Total Calories: </strong> {{totalCalories | number:'1.2-2'}} kcal</p>
                <p><strong>Total Protein: </strong> {{totalProteins | number:'1.2-2'}} g</p>
                <p><strong>Total Fats: </strong> {{totalFats | number:'1.2-2'}} g</p>
                <p><strong>Total Carbohydrates: </strong> {{totalCarbs | number:'1.2-2'}} g</p>
                <p><strong>Total Fiber: </strong> {{totalFiber | number:'1.2-2'}} g</p>
                <p><strong>Total Sugars: </strong> {{totalSugars | number:'1.2-2'}} g</p>
            </div>
        </div>
    </div>
    <footer class="taskbar">
        <div class="start-button">
            <img src="../../../public/assets/start.png" alt="Start">
        </div>
        <div class="system-time" aria-live="assertive" role="timer" aria-atomic="true">
            <span id="system-time" style="color: black; margin-right: 10px;">12:00 PM</span>
          </div>
    </footer>
</body>
